/* ===================================================================
 * = VARIABLES
 * =================================================================== */
/* Typography */

$default-font:              Helvetica, Arial, sans-serif;
$font-size:                 14px;
$line-height:               1.3;

/* Colors */
$default-color:                #373737;
$featured-color:                #D10010;

/* ===================================================================
 * = VENDOR LIBRARIES
 * =================================================================== */
@import "vendor/bootstrap";

/* ===================================================================
 * = FONT-FACE
 * =================================================================== */
@import "fonts";

/* ===================================================================
 * = TEMPLATE
 * =================================================================== */
@import "base/general",
        "base/lists",
        "base/utils";

/* MODULES
 * =================================================================== */
@import "modules/header",
        "modules/mosaic",
        "modules/lines",
        "modules/detail";