body{
	background: #CB4040;
	padding-top: 70px;
}

nav {
	background: #3D3D3C !important;
	border-bottom: 3px solid #FFF !important;
	min-height: 70px !important;
}

nav .navbar-brand div{
	font-family: super_mario_286regular;
	color: rgb(255, 255, 255);
	font-size: 32px;
	padding: 8px;
	padding-left: 20px;
}
nav .navbar-brand img{
  top: -30px;
  position: relative;
}

.ellipsis{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.navbar-nav > li > a {
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 20px;
}
.navbar-nav > li > a {
  font-size: 16px;
}
.navbar-nav > li > a .glyphicon-chevron-down{
  position: relative;
  font-size: 12px;
  top: 5px;
  left: 6px;
}

nav > .container {
	position: relative;
}


header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-image: url('../imagens/mario-banner.png');
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-color: #FFB300;
  border-bottom: 6px solid #8E2828;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  min-height: 400px;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header h1{
  text-shadow: 2px 4px 0px rgba(61, 61, 60, 0.7);
}



header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  text-shadow: 2px 2px 0px rgb(61, 61, 60);
  font-size: 16px;
  margin-bottom: 50px;
}


.container-pixel-font{
  color: #690000;
  border-bottom: 2px solid #A33333;
  font-family: 'minecraftmedium';
}

.news-gaming-panel {
  box-shadow: 0px 0px 0px 3px #A33333;
}
.news-gaming-panel .panel-heading{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  border-bottom: 2px solid #A2A2A2
}
.news-gaming-panel .panel-heading .img-circle{
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  border: 2px solid #A2A2A2;
  position: relative;
  top: 50px;
}
.news-gaming-panel .panel-body h3{
  margin-top: 0px;
  margin-left: 90px;  
  position: relative;
  top: -5px;
}

.news-gaming-panel .panel-body .panel-detail {
  margin: 20px 0px;
}
.news-gaming-panel .panel-body .panel-detail .info{
  font-weight: bold;
}


@media (min-width: 992px) { 
  .news-gaming-panel .panel-body p{
    min-height: 220px;
  }
}
.col-lg-12 > .news-gaming-panel{
  position: relative;
  top: -70px;
}
.col-lg-12 .news-gaming-panel .panel-body p{
  min-height: initial !important;
} 
.col-lg-12 > .news-gaming-panel .panel-heading {
	height: 200px; 
}
.col-lg-12 > .news-gaming-panel .panel-heading .img-circle{ 
	top: 150px; 
	}
.bg-menu-mario{
	width: 100%;
	background: rgb(255, 255, 255) url("../imagens/mario-jump.png") no-repeat scroll 0% 0% / 130px auto;
	background-position: -30px 30px;
	padding-left: 80px !important;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 3px solid #4C4C4C;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 42px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 14px solid #4C4C4C;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    position: absolute;
    top: -15px;
    right: 38px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #DC1002;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}